# Overview

## Output Files:
- SQGDP9_US_2005_2022.csv
- Aon_US_Damage_2004_to_2022.csv
- Aon_US_Damage_2004_to_2022_dropped.csv
- rsmeans_wtavgs_st.csv
- nationwide_constr_spend_qtr.csv

## BEA Construction Data

### Input:
- SQGDP9_AK_2005_2022.csv
- SQGDP9_AL_2005_2022.csv
- ...
- SQGDP9_WV_2005_2022.csv
- SQGDP9_WY_2005_2022.csv

### Output:
- SQGDP9_US_2005_2022.csv

## AON Damages Data

### Input: 
- Aon Damages by Time Location and Amount 2004 to 2022.xlsx

### Output:  
- Aon_US_Damage_2004_to_2022.csv
- Aon_US_Damage_2004_to_2022_dropped.csv

## RSMeans Data

### Input:
- rsmeans.pkl

### Output:
- rsmeans.csv

## US Construction GDP Data

### Input:
- nationwide_constr_spend.xlsx

### Output:
- nationwide_constr_spend_qtr.csv

## Preliminaries

In [1]:
# set to true to create output files again
create_output_files = False
chunk_size = 200000

In [2]:
import pandas as pd
import numpy as np
import re
import glob
import os
import pickle
import datetime
from pandas.tseries.offsets import MonthEnd
import matplotlib.pyplot as plt
from scipy.stats import rvs_ratio_uniforms
from sympy import *
import sympy
import scipy.stats as stats

### Files and Directories

In [3]:
# Base
#base_dir = "./Rich"
base_dir = '/content/drive/MyDrive/environment'
out_dir = os.path.join(base_dir,"out2")

# FEMA
fema_in_file = "HELP HELP.xlsx"
#fema_in_file = "HELP HELP2.xlsx"
fema_fed_out_file = "fema_fed_by_month"     # .csv added later
fema_st_out_file = "fema_state_by_month"    # .csv added later
fema_tot_out_file = "fema_total_by_month"   # .csv added later

fema_err_dt1_out_file = "fema_err_start_date.csv"
fema_err_dt2_out_file = "fema_err_end_date.csv"
fema_err_tot_spend = "fema_err_total_spend.csv"
fema_err_fed_spend = "fema_err_fed_spend.csv"
fema_err_st_spend = "fema_err_state_spend.csv"

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Process FEMA

In [5]:
dffema = None   # master set
dti = None
df = None       # chunk set
use_gaussian = False

In [6]:
#def clean(save_date_errors=False,dates_only=False):
def clean():
  global dffema
  dffema["START YR"] = pd.to_numeric(dffema["START YR"], 
                                     errors='coerce').fillna(0).astype('int')
  dffema["START MO"] = pd.to_numeric(dffema["START MO"], 
                                     errors='coerce').fillna(0).astype('int')
  dffema["END YR"] = pd.to_numeric(dffema["END YR"], 
                                   errors='coerce').fillna(0).astype('int')
  dffema["END MO"] = pd.to_numeric(dffema["END MO"], 
                                   errors='coerce').fillna(0).astype('int')
  baddates = (dffema["END MO"]==0)
  dffema.loc[baddates,"END YR"] = dffema[baddates]["START YR"]
  dffema.loc[baddates,"END MO"] = dffema[baddates]["START MO"]

  dferr = dffema[pd.to_datetime(dffema["START MO"].astype(str) + " " \
                                + dffema["START YR"].astype(str), 
                                errors="coerce").isna()]
  if len(dferr) > 0:
    dferr.to_csv(os.path.join(base_dir,fema_err_dt1_out_file))

  dferr = dffema[pd.to_datetime(dffema["END MO"].astype(str) + " " \
                                + dffema["END YR"].astype(str),
                                errors="coerce").isna()]
  if len(dferr) > 0:
    dferr.to_csv(os.path.join(base_dir,fema_err_dt2_out_file))

  dffema = dffema[pd.to_datetime(dffema["START MO"].astype(str) + \
                                 " " + dffema["START YR"].astype(str), 
                                 errors="coerce").notna()]
  dffema = dffema[pd.to_datetime(dffema["END MO"].astype(str) + \
                                 " " + dffema["END YR"].astype(str),
                                 errors="coerce").notna()]

  dffema["TOTAL PROJECT SPEND"] = pd.to_numeric(dffema["TOTAL PROJECT SPEND"],
                                                errors='coerce').fillna(0).astype('float').round(2)
  dffema["FED SPEND"] = pd.to_numeric(dffema["FED SPEND"], 
                                      errors='coerce').fillna(0).astype('float').round(2)
  dffema["STATE SPEND"] = pd.to_numeric(dffema["STATE SPEND"], 
                                        errors='coerce').fillna(0).astype('float').round(2)

In [7]:
def create_dates_index():
  global dffema
  global dti
  dti = pd.date_range(start=pd.to_datetime(dffema["START MO"].astype(str) + \
                                           " " + dffema["START YR"].astype(str)).min(),
                      end=pd.to_datetime(dffema["END MO"].astype(str) + \
                                         " " + dffema["END YR"].astype(str),
                                         format="%m %Y").max()+MonthEnd(0),
                      freq='M').strftime("%Y-%m")

In [8]:
def split_spending(row,col_name):
    dt1 = pd.to_datetime(str(row["START MO"]) + " " + str(row["START YR"]))
    dt2 = max(pd.to_datetime(str(row["START MO"]) + \
                             " " + str(row["START YR"])),
              pd.to_datetime(str(row["END MO"]) + \
                             " " + str(row["END YR"]))) + MonthEnd(0)
    #print(row.index.tolist())
    if(dt1 != dt2):
      dtr = pd.date_range(start=dt1, end=dt2, freq='M').strftime("%Y-%m")
      if use_gaussian:
        #spend = int(row["FED SPEND"]*100)
        spend = int(row[col_name]*100)
        days = len(pd.date_range(start=dt1, end=dt2, freq='D'))
        #print(days)
        mu = days/2
        sigma = days/6
        a, b = (0 - mu) / sigma, ((days-1) - mu) / sigma
        seed = 47563
        rng = np.random.default_rng(seed)
        vals = stats.truncnorm.rvs(a,b,loc=mu,scale=sigma,size=spend,random_state=rng).round().astype(int)
        vals = np.bincount(vals)
        #print(len(vals))
        #print(len(dtr.tolist()))
        df = pd.DataFrame({"val":vals},index=pd.date_range(start=dt1, end=dt2, freq='D'))
        #print(len(df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val.tolist()))
        #row[dtr.tolist()] = ((df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val)/100).tolist()
        row[dtr.tolist()] = df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val.tolist()
        #print('......................')
      else:
        #print(dtr.tolist())
        dtrlst = dtr.tolist()
        row[dtrlst] = round(row[col_name]/len(dtrlst),2)
        # tmp = round(row[dtr.tolist()].sum(),2)
        # if tmp > row[col_name]:
        #     tmp = round(tmp-row[col_name],2)
        #     # reduce tails
        #     row[dtrlst[0]] -= round(tmp/2,2)
        #     if tmp > .01:
        #         row[dtrlst[-1]] -= round(tmp/2 + (0. if (int(tmp)*100)%2 == 0 else .01),2)
        # elif tmp < row[col_name]:
        #     # pad center
        #     row[dtrlst[int(len(dtrlst)/2)]] += round(row[col_name]-tmp,2)
    else:
      row[dt1.strftime("%Y-%m")] = row[col_name]
    #print(".....................")
    return row

In [9]:
def split_fed_spending(row):
    return split_spending(row,"FED SPEND")
#     dt1 = pd.to_datetime(str(row["START MO"]) + " " + str(row["START YR"]))
#     dt2 = max(pd.to_datetime(str(row["START MO"]) + 
#                                            " " + str(row["START YR"])),
#                             pd.to_datetime(str(row["END MO"]) + 
#                                            " " + str(row["END YR"]))) + MonthEnd(0)
#     #print(row.index.tolist())
#     if(dt1 != dt2):
#         dtr = pd.date_range(start=dt1, end=dt2, freq='M').strftime("%Y-%m")
#         if use_gaussian:
#             #spend = int(row["FED SPEND"]*100)
#             spend = int(row["FED SPEND"]*100)
#             days = len(pd.date_range(start=dt1, end=dt2, freq='D'))
#             #print(days)
#             mu = days/2
#             sigma = days/6
#             a, b = (0 - mu) / sigma, ((days-1) - mu) / sigma
#             seed = 47563
#             rng = np.random.default_rng(seed)
#             vals = stats.truncnorm.rvs(a,b,loc=mu,scale=sigma,size=spend,random_state=rng).round().astype(int)
#             vals = np.bincount(vals)
#             #print(len(vals))
#             #print(len(dtr.tolist()))
#             df = pd.DataFrame({"val":vals},index=pd.date_range(start=dt1, end=dt2, freq='D'))
#             #print(len(df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val.tolist()))
#             #row[dtr.tolist()] = ((df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val)/100).tolist()
#             row[dtr.tolist()] = df.groupby(df.index.strftime('%Y-%m')).sum().reset_index().val.tolist()
#             #print('......................')
#         else:
#             #print(dtr.tolist())
#             dtrlst = dtr.tolist()
#             row[dtrlst] = round(row["FED SPEND"]/len(dtrlst),2)
#             tmp = round(row[dtr.tolist()].sum(),2)
#             if tmp > row["FED SPEND"]:
#                 print(F'reduce tail for {tmp}')
#                 tmp = round(tmp-row["FED SPEND"],2)
#                 # reduce tails
#                 row[dtrlst[0]] -= round(tmp/2,2)
#                 if tmp > .01:
#                     row[dtrlst[-1]] -= round(tmp/2 + (0. if (int(tmp)*100)%2 == 0 else .01),2)
#             elif tmp < row["FED SPEND"]:
#                 # pad center
#                 row[dtrlst[int(len(dtrlst)/2)]] += round(row["FED SPEND"]-tmp,2)
#     else:
#         row[dt1.strftime("%Y-%m")] = row["FED SPEND"]
#     #print(".....................")
#     return row

In [10]:
def split_state_spending(row):
    return split_spending(row,"STATE SPEND")

In [11]:
def split_tot_spending(row):
    return split_spending(row,"TOTAL PROJECT SPEND")

In [12]:
# def add_columns():
#   global df
#   global dti
#   if len(df) == 0:
#     return

#   df = df.reindex(df.columns.tolist()+dti.tolist(),fill_value=0.,axis=1)
#   #df = pd.concat([df,pd.DataFrame(columns=dti.tolist())])
#   #df[dti.tolist()] = df[dti.tolist()].astype(float)
#   #df[dti.tolist()] = 0.0

In [13]:
dffema = pd.DataFrame(pd.read_excel(os.path.join(base_dir,fema_in_file),
                                    header=1,
                                    sheet_name='HELP',
                                    usecols=np.arange(12).tolist()))
headers = dffema.columns
#display(headers)
#display(dffema)
#display(dffema[dffema.index.isin([1,3,4])])
#display(dffema[dffema.index < 3])
#clean(True,True)
clean()
create_dates_index()
display(dffema)
dffema_len = len(dffema)
#dffema = dffema.reindex(dffema.columns.tolist()+dti.tolist(),
#                        fill_value=0.,axis=1)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1.0,1039431.28,1039431.28,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1.0,2664.51,1998.38,666.13
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1.0,22914.27,17185.70,5728.57
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1.0,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1.0,70000.00,70000.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
950542,HOUSING ASSISTANCE RENTERS,NaN,53216,WI,2010,8,2010,8,NaN,0.00,3361725.14,0.00
950543,HOUSING ASSISTANCE RENTERS,NaN,53218,WI,2010,8,2010,8,NaN,0.00,3753216.85,0.00
950544,HOUSING ASSISTANCE RENTERS,NaN,53209,WI,2010,8,2010,8,NaN,0.00,4084102.26,0.00
950545,HOUSING ASSISTANCE RENTERS,NaN,53206,WI,2010,8,2010,8,NaN,0.00,4770400.99,0.00
950546,HOUSING ASSISTANCE RENTERS,NaN,26506,WV,2020,4,2020,4,NaN,0.00,1972185.70,0.00

In [14]:
#dffema.apply(split_fed_spending,
#             axis=1).to_csv(os.path.join(base_dir,fema_fed_out_file))
#dffema.apply(split_state_spending,
#             axis=1).to_csv(os.path.join(base_dir,fema_st_out_file))
#dffema.apply(split_tot_spending,
#             axis=1).to_csv(os.path.join(base_dir,fema_tot_out_file))

In [123]:
df = pd.DataFrame({
    #"ID":[0,1,2,3,4,5],
    "START MO":[10,11,7,3,3,10],
    "START YR":[2010,2010,2018,2017,2018,2020],
    "END MO": [10,12,7,8,4,12],
    "END YR":[2010,2010,2018,2017,2019,2020],
    "TOTAL PROJECT SPEND":[47,28,3888,20,578,1988]})
dforig = df.copy()
dt1 = pd.to_datetime(df["START MO"].astype(str) + " " \
                           + df["START YR"].astype(str))
dt2 = pd.to_datetime(df["END MO"].astype(str) + " " \
                           + df["END YR"].astype(str)) + MonthEnd(0)
#display(df)
#display(dt1)
#display(dt2)
#display([{a:b} for a,b in zip(dt1,dt2)])
df["DATE_RANGE"] = [pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist() for a, b in zip(dt1, dt2)]
df["DATE_RANGE_DATA"] = [[1. for x in pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist()] for a, b in zip(dt1, dt2)]
df["DATE_RANGE_DATA"] = df["DATE_RANGE_DATA"]*df["TOTAL PROJECT SPEND"]
display(df)
df = df.explode(["DATE_RANGE","DATE_RANGE_DATA"])
#display(df)
#display(df.stack())
#display(df.set_index("DATE_RANGE").unstack())
#df = df.set_index(['DATE_RANGE'], append=True)
#df = df.set_index(["START MO","START YR","END MO","END YR"], append=True)
#display(df)
df = df.pivot(values="DATE_RANGE_DATA",columns="DATE_RANGE")
#df = df.pivot(values="DATE_RANGE_DATA",index=["START MO","START YR","END MO","END YR"],columns="DATE_RANGE",)
#df = df.pivot(values="DATE_RANGE_DATA",index=df.index,columns="DATE_RANGE")
df.columns.name = ""
#display(df.index)
display(dforig)
display(df)
display(dforig.join(df))
#display(df.index)
#display(df.columns.name)
#display(df.columns.names)
#display(df.unstack())
#display(df.pivot(index="DATE_RANGE_DATA", columns="DATE_RANGE"))

,START MO,START YR,END MO,END YR,TOTAL PROJECT SPEND,DATE_RANGE,DATE_RANGE_DATA
0,10,2010,10,2010,47,[2010-10],"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
1,11,2010,12,2010,28,"[2010-11, 2010-12]","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
2,7,2018,7,2018,3888,[2018-07],"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
3,3,2017,8,2017,20,"[2017-03, 2017-04, 2017-05, 2017-06, 2017-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
4,3,2018,4,2019,578,"[2018-03, 2018-04, 2018-05, 2018-06, 2018-07, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
5,10,2020,12,2020,1988,"[2020-10, 2020-11, 2020-12]","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."

ValueError: ignored

In [117]:
#base_dir = '/content/drive/MyDrive/environment'
#print(os.path.join(base_dir,fema_in_file))
#!head /content/drive/MyDrive/environment/HELP\ HELP2.xlsx
# 950547 rows in file
#skip = 800000 # skipping starts *after* the header, do not need to account for lines prior
chunk_size = 200000
#chunk_size = 2
#chunk_size = 1000000
n = 0

if dffema_len > 0:
  while True:
    #dffema = pd.DataFrame(pd.read_excel(os.path.join(base_dir,fema_in_file),
    #                                    header=None,sheet_name='HELP',
    #                                    usecols=np.arange(12).tolist(),
    #                                    names=headers,
    #                                    nrows=chunk_size,
    #                                    skiprows=startskip+chunk_size*n))
    df = dffema[(dffema.index >= n*chunk_size) \
                & (dffema.index < (n+1)*chunk_size)].copy()
    #display(df)
    if len(df) > 0:
      #add_columns()
      #df = df.reindex(df.columns.tolist()+dti.tolist(),fill_value=0.,axis=1)
      dt1 = pd.to_datetime(df["START MO"].astype(str) + " " \
                           + df["START YR"].astype(str))
      dt2 = pd.to_datetime(df["END MO"].astype(str) + " " \
                           + df["END YR"].astype(str)) + MonthEnd(0)
      #dt1 = pd.Series([pd.to_datetime("10 2018"),pd.to_datetime()])
      # dr = pd.Series([pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist() for a, b in zip(dt1, dt2)])
      # drd = pd.Series([[1. for x in pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist()] for a, b in zip(dt1, dt2)])
      # display(dr.head())
      # display(drd.head())
      dr = [pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist() for a, b in zip(dt1, dt2)]
      drd = [[1. for x in pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist()] for a, b in zip(dt1, dt2)]
      display(df.head())
      dforig = df
      df["DATE_RANGE"] = dr
      df["DATE_RANGE_DATA"] = drd
      print("DATE_RANGE and DATE_RANGE_DATA added")
      display(df.head())
      # df["DATE_RANGE"] = \
      #   pd.Series([pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist() for a, b in zip(dt1, dt2)])
      # df["DATE_RANGE_DATA"] = \
      #   pd.Series([[1. for x in pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist()] for a, b in zip(dt1, dt2)])
      df = df.explode(["DATE_RANGE","DATE_RANGE_DATA"])
      df = df.pivot(values="DATE_RANGE_DATA",columns="DATE_RANGE")
      df.columns.name = ""
      display(df.head())
      display(dforig.join(df).head())

      #df['DATE_RANGE'] = list(map(lambda x, y: pd.date_range(start=x, end=y),
      #                            dt1, dt2))
      #display([x for a, b in zip(dt1, dt2) \
      #         for x in pd.date_range(a, b, freq='M').strftime("%Y-%m").tolist()][:5])
      #display(dt2)
      #display(dt1)
      #print(F"{dt1} - {dt2}")
      #display(pd.date_range(start=dt1,end=dt2,freq='M'))
#      display(pd.date_range(start=dt1,end=dt2,
#                            freq='M').strftime("%Y-%m").tolist())
#      df["DATE_RANGE"] = pd.date_range(start=dt1,
#                                       end=dt2,
#                                       freq='M').strftime("%Y-%m").tolist()
      #df[df["DATE_RANGE"]] = 1.
      #display(df["DATE_RANGE"].head())
      #df.head(1).to_csv(os.path.join(base_dir,F"{fema_tot_out_file}_{n+1}.csv"))
      # df.apply(split_fed_spending,
      #          axis=1).to_csv(os.path.join(base_dir,
      #                                      F"{fema_fed_out_file}_{n+1}.csv"))
      # df.apply(split_state_spending,
      #          axis=1).to_csv(os.path.join(base_dir,
      #                                      F"{fema_st_out_file}_{n+1}.csv"))
      # df.apply(split_tot_spending,
      #          axis=1).to_csv(os.path.join(base_dir,
      #                                      F"{fema_tot_out_file}_{n+1}.csv"))

    #print(F"iteration {n+1}")
    #clean()
    #display(df)
    #print(len(df))
#  if len(df) < chunk_size:
#    break
    print(F"iteration {n+1}: {len(df)} records read")
    #display(df)
    n += 1
    if n*chunk_size > (dffema_len-1):
      break

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1.0,1039431.28,1039431.28,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1.0,2664.51,1998.38,666.13
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1.0,22914.27,17185.70,5728.57
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1.0,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1.0,70000.00,70000.00,0.00

DATE_RANGE and DATE_RANGE_DATA added

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND,DATE_RANGE,DATE_RANGE_DATA
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1.0,1039431.28,1039431.28,0.00,[2005-09],[1.0]
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1.0,2664.51,1998.38,666.13,[2012-08],[1.0]
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1.0,22914.27,17185.70,5728.57,[2012-08],[1.0]
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1.0,0.00,0.00,0.00,[1999-05],[1.0]
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1.0,70000.00,70000.00,0.00,[1999-05],[1.0]

,1998-08,1998-09,1998-10,1998-11,1998-12,1999-01,1999-02,1999-03,1999-04,1999-05,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1.0,1039431.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1.0,2664.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1.0,22914.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1.0,70000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

iteration 1: 200000 records read

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
200000,PUBLIC ASSISTANCE,Severe Storm,Franklin,OH,2008,10,2009,1,3.0,151230.00,113422.50,37807.50
200001,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,0.00,0.00,0.00
200002,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,-0.01,0.00,0.00
200003,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,3085.57,2314.18,771.39
200004,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,8571.20,6428.40,2142.80

DATE_RANGE and DATE_RANGE_DATA added

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND,DATE_RANGE,DATE_RANGE_DATA
200000,PUBLIC ASSISTANCE,Severe Storm,Franklin,OH,2008,10,2009,1,3.0,151230.00,113422.50,37807.50,"[2008-10, 2008-11, 2008-12, 2009-01]","[1.0, 1.0, 1.0, 1.0]"
200001,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,0.00,0.00,0.00,"[2008-10, 2008-11, 2008-12, 2009-01]","[1.0, 1.0, 1.0, 1.0]"
200002,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,-0.01,0.00,0.00,"[2008-10, 2008-11, 2008-12, 2009-01]","[1.0, 1.0, 1.0, 1.0]"
200003,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,3085.57,2314.18,771.39,"[2008-10, 2008-11, 2008-12, 2009-01]","[1.0, 1.0, 1.0, 1.0]"
200004,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,8571.20,6428.40,2142.80,"[2008-10, 2008-11, 2008-12, 2009-01]","[1.0, 1.0, 1.0, 1.0]"

,1998-09,1998-10,1998-11,1998-12,1999-01,1999-02,1999-03,1999-04,1999-05,1999-06,...,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11
200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11
200000,PUBLIC ASSISTANCE,Severe Storm,Franklin,OH,2008,10,2009,1,3.0,151230.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200001,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200002,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,-0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200003,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,3085.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200004,PUBLIC ASSISTANCE,Hurricane,Statewide,VI,2008,10,2009,1,3.0,8571.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

iteration 2: 200000 records read

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
400000,PUBLIC ASSISTANCE,Flood,Freeborn,MN,2014,7,2014,12,5.0,8627.73,6470.80,2156.93
400001,PUBLIC ASSISTANCE,Flood,Waseca,MN,2014,7,2014,12,5.0,8628.74,6471.56,2157.18
400002,PUBLIC ASSISTANCE,Flood,Hennepin,MN,2014,7,2014,12,5.0,8661.24,6495.93,2165.31
400003,PUBLIC ASSISTANCE,Flood,Steele,MN,2014,7,2014,12,5.0,8673.45,6505.09,2168.36
400004,PUBLIC ASSISTANCE,Flood,Koochiching,MN,2014,7,2014,12,5.0,9005.07,6753.80,2251.27

DATE_RANGE and DATE_RANGE_DATA added

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND,DATE_RANGE,DATE_RANGE_DATA
400000,PUBLIC ASSISTANCE,Flood,Freeborn,MN,2014,7,2014,12,5.0,8627.73,6470.80,2156.93,"[2014-07, 2014-08, 2014-09, 2014-10, 2014-11, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
400001,PUBLIC ASSISTANCE,Flood,Waseca,MN,2014,7,2014,12,5.0,8628.74,6471.56,2157.18,"[2014-07, 2014-08, 2014-09, 2014-10, 2014-11, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
400002,PUBLIC ASSISTANCE,Flood,Hennepin,MN,2014,7,2014,12,5.0,8661.24,6495.93,2165.31,"[2014-07, 2014-08, 2014-09, 2014-10, 2014-11, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
400003,PUBLIC ASSISTANCE,Flood,Steele,MN,2014,7,2014,12,5.0,8673.45,6505.09,2168.36,"[2014-07, 2014-08, 2014-09, 2014-10, 2014-11, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
400004,PUBLIC ASSISTANCE,Flood,Koochiching,MN,2014,7,2014,12,5.0,9005.07,6753.80,2251.27,"[2014-07, 2014-08, 2014-09, 2014-10, 2014-11, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"

,1998-08,1998-09,1998-10,1998-11,1998-12,1999-01,1999-02,1999-03,1999-04,1999-05,...,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11
400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11
400000,PUBLIC ASSISTANCE,Flood,Freeborn,MN,2014,7,2014,12,5.0,8627.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400001,PUBLIC ASSISTANCE,Flood,Waseca,MN,2014,7,2014,12,5.0,8628.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400002,PUBLIC ASSISTANCE,Flood,Hennepin,MN,2014,7,2014,12,5.0,8661.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400003,PUBLIC ASSISTANCE,Flood,Steele,MN,2014,7,2014,12,5.0,8673.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400004,PUBLIC ASSISTANCE,Flood,Koochiching,MN,2014,7,2014,12,5.0,9005.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

iteration 3: 200000 records read

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
600000,PUBLIC ASSISTANCE,Hurricane,Morris,NJ,2011,8,2012,6,10.0,38468.06,28851.05,9617.01
600001,PUBLIC ASSISTANCE,Hurricane,Passaic,NJ,2011,8,2012,6,10.0,38550.57,28912.93,9637.64
600002,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2011,8,2012,6,10.0,39243.40,29432.55,9810.85
600003,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2011,8,2012,6,10.0,39308.38,29481.29,9827.09
600004,PUBLIC ASSISTANCE,Hurricane,Somerset,NJ,2011,8,2012,6,10.0,39361.84,29521.38,9840.46

DATE_RANGE and DATE_RANGE_DATA added

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND,DATE_RANGE,DATE_RANGE_DATA
600000,PUBLIC ASSISTANCE,Hurricane,Morris,NJ,2011,8,2012,6,10.0,38468.06,28851.05,9617.01,"[2011-08, 2011-09, 2011-10, 2011-11, 2011-12, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
600001,PUBLIC ASSISTANCE,Hurricane,Passaic,NJ,2011,8,2012,6,10.0,38550.57,28912.93,9637.64,"[2011-08, 2011-09, 2011-10, 2011-11, 2011-12, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
600002,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2011,8,2012,6,10.0,39243.40,29432.55,9810.85,"[2011-08, 2011-09, 2011-10, 2011-11, 2011-12, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
600003,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2011,8,2012,6,10.0,39308.38,29481.29,9827.09,"[2011-08, 2011-09, 2011-10, 2011-11, 2011-12, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
600004,PUBLIC ASSISTANCE,Hurricane,Somerset,NJ,2011,8,2012,6,10.0,39361.84,29521.38,9840.46,"[2011-08, 2011-09, 2011-10, 2011-11, 2011-12, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."

,NaN,1991-02,1991-12,1992-03,1992-04,1992-07,1992-08,1992-09,1992-10,1992-11,...,2107-12,2108-01,2108-02,2108-03,2108-04,2108-05,2108-06,2108-07,2108-08,2108-09
600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2107-12,2108-01,2108-02,2108-03,2108-04,2108-05,2108-06,2108-07,2108-08,2108-09
600000,PUBLIC ASSISTANCE,Hurricane,Morris,NJ,2011,8,2012,6,10.0,38468.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600001,PUBLIC ASSISTANCE,Hurricane,Passaic,NJ,2011,8,2012,6,10.0,38550.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600002,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2011,8,2012,6,10.0,39243.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600003,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2011,8,2012,6,10.0,39308.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600004,PUBLIC ASSISTANCE,Hurricane,Somerset,NJ,2011,8,2012,6,10.0,39361.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

iteration 4: 199994 records read

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
800000,HOUSING ASSISTANCE OWNERS,NaN,33313,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0
800001,HOUSING ASSISTANCE OWNERS,NaN,33325,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0
800002,HOUSING ASSISTANCE OWNERS,NaN,7734,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0
800003,HOUSING ASSISTANCE OWNERS,NaN,43025,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0
800004,HOUSING ASSISTANCE OWNERS,NaN,33221,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0

DATE_RANGE and DATE_RANGE_DATA added

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND,DATE_RANGE,DATE_RANGE_DATA
800000,HOUSING ASSISTANCE OWNERS,NaN,33313,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0,[2017-09],[1.0]
800001,HOUSING ASSISTANCE OWNERS,NaN,33325,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0,[2017-09],[1.0]
800002,HOUSING ASSISTANCE OWNERS,NaN,7734,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0,[2017-09],[1.0]
800003,HOUSING ASSISTANCE OWNERS,NaN,43025,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0,[2017-09],[1.0]
800004,HOUSING ASSISTANCE OWNERS,NaN,33221,FL,2017,9,2017,9,NaN,0.0,1807.0,0.0,[2017-09],[1.0]

,2002-10,2002-11,2002-12,2003-03,2003-04,2003-05,2003-06,2003-07,2003-08,2003-09,...,2021-12,2022-01,2022-02,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2021-12,2022-01,2022-02,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
800000,HOUSING ASSISTANCE OWNERS,NaN,33313,FL,2017,9,2017,9,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800001,HOUSING ASSISTANCE OWNERS,NaN,33325,FL,2017,9,2017,9,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800002,HOUSING ASSISTANCE OWNERS,NaN,7734,FL,2017,9,2017,9,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800003,HOUSING ASSISTANCE OWNERS,NaN,43025,FL,2017,9,2017,9,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800004,HOUSING ASSISTANCE OWNERS,NaN,33221,FL,2017,9,2017,9,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

iteration 5: 150546 records read

In [ ]:
#display(dffema)

In [ ]:
display(dffema)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005.0,9,2005.00,9.0,1.0,1039431.28,1039431.28,0
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012.0,8,2012.00,8.0,1.0,2664.51,1998.38,666.13
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012.0,8,2012.00,8.0,1.0,22914.27,17185.7,5728.57
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999.0,5,1999.00,5.0,1.0,$-,$-,0
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999.0,5,1999.00,5.0,1.0,70000,70000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
950542,HOUSING ASSISTANCE RENTERS,NaN,53216,WI,2010.0,8,3361725.14,NaN,NaN,,3361725.14,NaN
950543,HOUSING ASSISTANCE RENTERS,NaN,53218,WI,2010.0,8,3753216.85,NaN,NaN,,3753216.85,NaN
950544,HOUSING ASSISTANCE RENTERS,NaN,53209,WI,2010.0,8,4084102.26,NaN,NaN,,4084102.26,NaN
950545,HOUSING ASSISTANCE RENTERS,NaN,53206,WI,2010.0,8,4770400.99,NaN,NaN,,4770400.99,NaN
950546,HOUSING ASSISTANCE RENTERS,NaN,26506,WV,2020.0,4,1972185.70,NaN,NaN,,1972185.7,NaN

In [ ]:
#print(dffema["FED SPEND"])
#dffema["FED SPEND"] = dffema["FED SPEND"].str.strip()
#print(dffema["FED SPEND"])
#dffema["FED SPEND"] = dffema["FED SPEND"].replace('$','')
#print(dffema["FED SPEND"])
#dffema["FED SPEND"] = dffema["FED SPEND"].str.replace('$','')
#dffema["STATE SPEND"] = dffema["STATE SPEND"].str.replace('$','')
#dffema["TOTAL PROJECT SPEND"] = dffema["TOTAL PROJECT SPEND"].str.replace('$','')
#display(dffema)
dffema["TOTAL PROJECT SPEND"] = pd.to_numeric(dffema["TOTAL PROJECT SPEND"], errors='coerce').fillna(0).astype('float').round(2)
dffema["FED SPEND"] = pd.to_numeric(dffema["FED SPEND"], errors='coerce').fillna(0).astype('float').round(2)
dffema["STATE SPEND"] = pd.to_numeric(dffema["STATE SPEND"], errors='coerce').fillna(0).astype('float').round(2)
dffema["START YR"] = pd.to_numeric(dffema["START YR"], errors='coerce').fillna(0).astype('int')
dffema["START MO"] = pd.to_numeric(dffema["START MO"], errors='coerce').fillna(0).astype('int')
dffema["END YR"] = pd.to_numeric(dffema["END YR"], errors='coerce').fillna(0).astype('int')
dffema["END MO"] = pd.to_numeric(dffema["END MO"], errors='coerce').fillna(0).astype('int')

In [ ]:
#dfemacpy = dffema.copy()

In [ ]:
#dffema = dfemacpy.copy()

In [ ]:
# if total project spend == 0, set equal to fed spend + state spend
#dffema[(dffema["FED SPEND"] + dffema["STATE SPEND"]).round(2) != dffema["TOTAL PROJECT SPEND"]]
adjust = (dffema["TOTAL PROJECT SPEND"] == 0.0) & ((dffema["FED SPEND"] > 0.0) | (dffema["STATE SPEND"] > 0.0))
#display(dffema[(dffema["TOTAL PROJECT SPEND"] == 0.0) & ((dffema["FED SPEND"] > 0.0) | (dffema["STATE SPEND"] > 0.0))])
dffema.loc[adjust,"TOTAL PROJECT SPEND"] = dffema[adjust]["FED SPEND"] + dffema[adjust]["STATE SPEND"]
display(dffema[adjust]["TOTAL PROJECT SPEND"])
# if total projct spend == 0, flag

5711      0.01
5712      0.01
19149     0.01
19746     0.01
30294     0.01
          ...
193748    0.01
193749    0.01
193750    0.01
198742    0.01
199341    0.01
Name: TOTAL PROJECT SPEND, Length: 82, dtype: float64

In [ ]:
# assign end mo/yr to start mo/yr if end mo == 0
baddates = (dffema["END MO"]==0)
#display(baddates)
dffema.loc[baddates,"END YR"] = dffema[baddates]["START YR"]
dffema.loc[baddates,"END MO"] = dffema[baddates]["START MO"]
#dffema[dffema["END MO"]<1 & dffema["END MO"]>12]["END MO"] = dffema[dffema["END MO"]<1 & dffema["END MO"]>12]["START MO"]
#dffema[dffema["END YR"]<1 & dffema["END MO"]>12]["END MO"] = dffema[dffema["END MO"]<1 & dffema["END MO"]>12]["START YR"]
#baddates = ((dffema["END MO"]<1) | (dffema["END MO"]>12))
#display(dffema[(dffema["END MO"]<1) | (dffema["END MO"]>12)])
display(dffema[baddates])
#print(dffema["FED SPEND"])
#dffema["FED SPEND"] = dffema["FED SPEND"].replace('-','')
#dffema["FED SPEND"] = dffema["FED SPEND"].fillna(0).astype(float).round(2)

Empty DataFrame
Columns: [FUND SOURCE, TYPE, COUNTY, STATE, START YR, START MO, END YR, END MO, NUMBER OF MONTHS, TOTAL PROJECT SPEND, FED SPEND, STATE SPEND]
Index: []

In [ ]:
#help(pd.read_excel)
display(dffema)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,1039431.28,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,1998.38,666.13
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,17185.70,5728.57
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,70000.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,PUBLIC ASSISTANCE,Severe Storm,Highland,OH,2008,10,2009,1,3,23480.70,17610.53,5870.17
199996,PUBLIC ASSISTANCE,Severe Storm,Montgomery,OH,2008,10,2009,1,3,37286.02,27964.52,9321.50
199997,PUBLIC ASSISTANCE,Severe Storm,Butler,OH,2008,10,2009,1,3,41855.64,31391.73,10463.91
199998,PUBLIC ASSISTANCE,Severe Storm,Knox,OH,2008,10,2009,1,3,56760.49,42570.37,14190.12
199999,PUBLIC ASSISTANCE,Severe Storm,Hamilton,OH,2008,10,2009,1,3,70263.52,52697.64,17565.88

In [ ]:
# capture start date errors
dferr = dffema[pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str), errors="coerce").isna()]
display(dferr)

Empty DataFrame
Columns: [FUND SOURCE, TYPE, COUNTY, STATE, START YR, START MO, END YR, END MO, NUMBER OF MONTHS, TOTAL PROJECT SPEND, FED SPEND, STATE SPEND]
Index: []

In [ ]:
# save start date errors for reference, these will not be included in final results
dferr.to_csv(os.path.join(base_dir,fema_err_dt1_out_file))

In [ ]:
# capture end date errors
dferr = dffema[pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str), errors="coerce").isna()]
display(dferr)

Empty DataFrame
Columns: [FUND SOURCE, TYPE, COUNTY, STATE, START YR, START MO, END YR, END MO, NUMBER OF MONTHS, TOTAL PROJECT SPEND, FED SPEND, STATE SPEND]
Index: []

In [ ]:
# save end date errors for reference, these will not be included in final results
dferr.to_csv(os.path.join(base_dir,fema_err_dt2_out_file))

In [ ]:
# remove start date and end date errors
dffema = dffema[pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str), errors="coerce").notna()]
dffema = dffema[pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str), errors="coerce").notna()]
display(dffema)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,FED SPEND,STATE SPEND
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,1039431.28,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,1998.38,666.13
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,17185.70,5728.57
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,70000.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,PUBLIC ASSISTANCE,Severe Storm,Highland,OH,2008,10,2009,1,3,23480.70,17610.53,5870.17
199996,PUBLIC ASSISTANCE,Severe Storm,Montgomery,OH,2008,10,2009,1,3,37286.02,27964.52,9321.50
199997,PUBLIC ASSISTANCE,Severe Storm,Butler,OH,2008,10,2009,1,3,41855.64,31391.73,10463.91
199998,PUBLIC ASSISTANCE,Severe Storm,Knox,OH,2008,10,2009,1,3,56760.49,42570.37,14190.12
199999,PUBLIC ASSISTANCE,Severe Storm,Hamilton,OH,2008,10,2009,1,3,70263.52,52697.64,17565.88

In [ ]:
#import numpy as np
from pandas.tseries.offsets import MonthEnd
import matplotlib.pyplot as plt
from scipy.stats import rvs_ratio_uniforms
from sympy import *
import sympy
import scipy.stats as stats
#from scipy.stats import truncnorm

In [ ]:
# seed = 47563
# rng = np.random.default_rng(seed)
# days = 90
# spend = 500000
# mu = days/2
# sigma = days/6

# a, b = (0 - mu) / sigma, ((days-1) - mu) / sigma

# #X = stats.truncnorm(0, days-1, loc=mu, scale=sigma)
# #stats.truncnorm(0, days-1, loc=mu, scale=sigma)
# vals = stats.truncnorm.rvs(a,b,loc=mu,scale=sigma,size=spend,random_state=rng).round().astype(int)

# #print(rng.random())
# #vals = np.clip(rng.normal(mu,sigma,spend).round().astype(int),0,days-1)
# #vals = np.clip(rng.normal(days/2,days/6,spend).round().astype(int),0,days-1)
# #vals = np.clip(np.random.gamma(40,.5,spend).round().astype(int),0,days-1)
# print(np.bincount(vals))
# np.bincount(vals).sum()
# #$print(vals.sum())

In [ ]:
# _ = plt.hist(vals,bins=np.arange(days))

In [ ]:
# #from pandas.tseries.offsets import MonthEnd

# month1, year1 = 2, 2011
# month2, year2 = 3, 2015
# #print(pd.to_datetime(f"{month1} {year1}") + MonthEnd(0))
# print(pd.to_datetime(f"{month2} {year2}") + MonthEnd(0))
# dt2 = pd.to_datetime(f"{month2} {year2}") + MonthEnd(0)
# #f"{year}-{month}-1"
# #print(pd.Period(f"{month1} {year1}").daysinmonth)
# #print(pd.Period(f"{year1}-{month1}-1").daysinmonth)
# #print(pd.date_range(start='2019-11-22', periods=10, freq='D').to_period('M').value_counts())
# print(len(pd.date_range(start=f"{month1} {year1}", end=dt2, freq='D')))

In [ ]:
# step 1: add column for # of days in the specified months
# step 2: add columns for mu and sigma
# step 3: add columns for a and b
# step 4: add column for normal/gamma/other distribution over # of days (list with len == # days)
# step 5: add column for number of days for each month in range (list with len == # months)
# step 6: add column for month/year values (adds dist. vals from step 4 for # days/month in step 5)
#         (list of total month/year costs with len == # months)
# step 7: add column for offset to align start month/year with month/year column
# step 8: update the values in columns starting at the offset calcuated in step 7 with the 
#         values created in step 6 (not sure how to do this, but maybe "apply" method?)
# step 9: drop the columns added in steps 1-7
# step 10: create column that totals the month/year columns
# step 11: write any lines (ideally, including line number) to an error file

In [ ]:
#dffemacopy = dffema.copy()

In [ ]:
#dffema = dffemacopy.copy()

In [ ]:
#display(dffema)
#len(dffema.columns)
#help(dffema.reindex)
use_gaussian = False

In [ ]:
# dt1 = pd.to_datetime("2 2018")
# dt2 = pd.to_datetime("5 2019") + MonthEnd(0)
# days = len(pd.date_range(start=dt1, end=dt2, freq='D'))
# print(days)
# print(sum(pd.date_range(start=dt1, end=dt2, freq='M').daysinmonth))
# #pd.date_range(start=dt1, end=dt2, freq='D')
# a = np.arange(days)
# pd.date_range(start=dt1, end=dt2, freq='M').daysinmonth

# dr = pd.date_range(start=dt1, end=dt2, freq='D')
# mr = pd.date_range(start=dt1, end=dt2, freq='M')

# df = pd.DataFrame({"val":a},index=dr)
# #df.index.name = "day"
# display(df.index)
# df = df.groupby(df.index.strftime('%Y-%m')).sum().reset_index()
# #df.groupby(index.dt.strftime('%Y-%m')).sum().reset_index()
# df.val.tolist()
# #df.index

In [ ]:
# I think the best way to handle this is to create a start date and end date column, coercing errors
# drop all rows with invalid dates? Not sure.

#dffema = dffema[(dffema["START MO"]<=12) & (dffema["START MO"]>=1)]
#display(dffema[(dffema["START MO"]>12) | (dffema["START MO"]<1)])

In [ ]:
#dffema = dffemacopy.copy()
# add columns for all dates covered
#date_col_offset = len(dffema.columns)

#dti = pd.date_range(
#    start = pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str)).min(),
#    end = max(pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str)).max(),
#               pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str)).max()),
#    freq='M').strftime("%Y-%m")

firstdate = pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str)).min()
#lastdate = max(pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str)).max(),
#               pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str)).max())
#display(firstdate)
#display(lastdate)
#dti = pd.date_range(start=firstdate,end=lastdate,freq='M')
#dti = dti.strftime("%Y-%m")
# print(firstdate)
# print(pd.to_datetime(dffema["START MO"].astype(str) + 
#                                            " " + dffema["START YR"].astype(str)).max()+MonthEnd(0))
# print(pd.to_datetime(dffema["END MO"].astype(str) + 
#                                            " " + dffema["END YR"].astype(str)).max()+MonthEnd(0))
# print(max(pd.to_datetime(dffema["START MO"].astype(str) + 
#                                            " " + dffema["START YR"].astype(str)).max()+MonthEnd(0),
#                             pd.to_datetime(dffema["END MO"].astype(str) + 
#                                            " " + dffema["END YR"].astype(str)).max()+MonthEnd(0)))
dti = pd.date_range(start=firstdate,
                    end=max(pd.to_datetime(dffema["START MO"].astype(str) + 
                                           " " + dffema["START YR"].astype(str),format="%m %Y").max()+MonthEnd(0),
                            pd.to_datetime(dffema["END MO"].astype(str) + 
                                           " " + dffema["END YR"].astype(str),format="%m %Y").max()+MonthEnd(0)),
                    freq='M').strftime("%Y-%m")

display(dti)
#display(dti[5])
#display(df.columns.tolist() + dti.tolist())
dffema = dffema.reindex(dffema.columns.tolist()+dti.tolist(),fill_value=0,axis=1)
dffema[dti.tolist()] = dffema[dti.tolist()].astype(float)
#dffema[dti.tolist()] = dffema[dti.tolist()].astype(int)

Index(['1998-08', '1998-09', '1998-10', '1998-11', '1998-12', '1999-01',
       '1999-02', '1999-03', '1999-04', '1999-05',
       ...
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10'],
      dtype='object', length=291)

In [ ]:
display(dffema)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,PUBLIC ASSISTANCE,Severe Storm,Highland,OH,2008,10,2009,1,3,23480.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199996,PUBLIC ASSISTANCE,Severe Storm,Montgomery,OH,2008,10,2009,1,3,37286.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199997,PUBLIC ASSISTANCE,Severe Storm,Butler,OH,2008,10,2009,1,3,41855.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199998,PUBLIC ASSISTANCE,Severe Storm,Knox,OH,2008,10,2009,1,3,56760.49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199999,PUBLIC ASSISTANCE,Severe Storm,Hamilton,OH,2008,10,2009,1,3,70263.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dffemafed = dffema.apply(split_fed_spending,axis=1)
dffemastate = dffema.apply(split_state_spending,axis=1)
dffematotal = dffema.apply(split_tot_spending,axis=1)
#dffema.apply(np.sqrt,axis=1)
#dffema = dffema.apply(split_spending,axis=1)
#dffema["2012-05"]
display(dffemafed)
display(dffemastate)
display(dffematotal)
#display(dffema["FED SPEND"])

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,...,0.0,0.0,1998.38,0.0,0.00,0.00,0.00,0.00,0.00,0.00
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,...,0.0,0.0,17185.70,0.0,0.00,0.00,0.00,0.00,0.00,0.00
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
5,PUBLIC ASSISTANCE,Tornado,Logan,OK,1999,5,1999,5,1,187500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
6,PUBLIC ASSISTANCE,Tornado,Oklahoma,OK,1999,5,1999,5,1,250000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
7,PUBLIC ASSISTANCE,Tornado,Statewide,OK,1999,5,1999,5,1,500000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
8,PUBLIC ASSISTANCE,Tornado,McClain,OK,1999,5,1999,5,1,562500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
9,PUBLIC ASSISTANCE,Tornado,Grady,OK,1999,5,1999,5,1,1000000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
10,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,39048.67,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
11,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,40857.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
12,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,41600.26,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
13,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,46506.99,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
14,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,47668.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
15,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,53139.83,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
16,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,55074.55,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
17,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,56010.48,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
18,PUBLIC ASSISTANCE,Severe Storm,Clark,WI,2010,10,2011,2,4,3720.17,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
19,PUBLIC ASSISTANCE,Severe Storm,Jackson,WI,2010,10,2011,2,4,3782.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
20,PUBLIC ASSISTANCE,Severe Storm,Marathon,WI,2010,10,2011,2,4,3814.11,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
21,PUBLIC ASSISTANCE,Severe Storm,Wood,WI,2010,10,2011,2,4,3834.87,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
22,PUBLIC ASSISTANCE,Hurricane,Ocean,NJ,2012,10,2013,3,5,22277.32,...,0.0,0.0,0.00,0.0,3341.59,3341.60,3341.60,3341.60,3341.60,3341.60
23,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2012,10,2013,3,5,22330.99,...,0.0,0.0,0.00,0.0,3349.64,3349.65,3349.65,3349.65,3349.65,3349.65
24,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,22369.56,...,0.0,0.0,0.00,0.0,3355.43,3355.43,3355.43,3355.45,3355.43,3355.43
25,PUBLIC ASSISTANCE,Hurricane,Warren,NJ,2012,10,2013,3,5,22445.56,...,0.0,0.0,0.00,0.0,3366.83,3366.83,3366.83,3366.85,3366.83,3366.83
26,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,23079.68,...,0.0,0.0,0.00,0.0,3461.95,3461.95,3461.95,3461.96,3461.95,3461.95

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,...,0.0,0.0,666.13,0.0,0.00,0.00,0.00,0.00,0.00,0.00
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,...,0.0,0.0,5728.57,0.0,0.00,0.00,0.00,0.00,0.00,0.00
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
5,PUBLIC ASSISTANCE,Tornado,Logan,OK,1999,5,1999,5,1,187500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
6,PUBLIC ASSISTANCE,Tornado,Oklahoma,OK,1999,5,1999,5,1,250000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
7,PUBLIC ASSISTANCE,Tornado,Statewide,OK,1999,5,1999,5,1,500000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
8,PUBLIC ASSISTANCE,Tornado,McClain,OK,1999,5,1999,5,1,562500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
9,PUBLIC ASSISTANCE,Tornado,Grady,OK,1999,5,1999,5,1,1000000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
10,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,39048.67,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
11,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,40857.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
12,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,41600.26,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
13,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,46506.99,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
14,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,47668.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
15,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,53139.83,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
16,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,55074.55,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
17,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,56010.48,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
18,PUBLIC ASSISTANCE,Severe Storm,Clark,WI,2010,10,2011,2,4,3720.17,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
19,PUBLIC ASSISTANCE,Severe Storm,Jackson,WI,2010,10,2011,2,4,3782.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
20,PUBLIC ASSISTANCE,Severe Storm,Marathon,WI,2010,10,2011,2,4,3814.11,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
21,PUBLIC ASSISTANCE,Severe Storm,Wood,WI,2010,10,2011,2,4,3834.87,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
22,PUBLIC ASSISTANCE,Hurricane,Ocean,NJ,2012,10,2013,3,5,22277.32,...,0.0,0.0,0.00,0.0,371.28,371.29,371.29,371.29,371.29,371.29
23,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2012,10,2013,3,5,22330.99,...,0.0,0.0,0.00,0.0,372.18,372.18,372.18,372.20,372.18,372.18
24,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,22369.56,...,0.0,0.0,0.00,0.0,372.82,372.83,372.83,372.83,372.83,372.82
25,PUBLIC ASSISTANCE,Hurricane,Warren,NJ,2012,10,2013,3,5,22445.56,...,0.0,0.0,0.00,0.0,374.09,374.09,374.09,374.11,374.09,374.09
26,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,23079.68,...,0.0,0.0,0.00,0.0,384.66,384.66,384.66,384.67,384.66,384.66

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,...,0.0,0.0,2664.51,0.0,0.00,0.00,0.00,0.00,0.00,0.00
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,...,0.0,0.0,22914.27,0.0,0.00,0.00,0.00,0.00,0.00,0.00
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
5,PUBLIC ASSISTANCE,Tornado,Logan,OK,1999,5,1999,5,1,187500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
6,PUBLIC ASSISTANCE,Tornado,Oklahoma,OK,1999,5,1999,5,1,250000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
7,PUBLIC ASSISTANCE,Tornado,Statewide,OK,1999,5,1999,5,1,500000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
8,PUBLIC ASSISTANCE,Tornado,McClain,OK,1999,5,1999,5,1,562500.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
9,PUBLIC ASSISTANCE,Tornado,Grady,OK,1999,5,1999,5,1,1000000.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
10,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,39048.67,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
11,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,40857.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
12,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,41600.26,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
13,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,46506.99,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
14,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,47668.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
15,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,53139.83,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
16,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,55074.55,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
17,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,56010.48,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
18,PUBLIC ASSISTANCE,Severe Storm,Clark,WI,2010,10,2011,2,4,3720.17,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
19,PUBLIC ASSISTANCE,Severe Storm,Jackson,WI,2010,10,2011,2,4,3782.72,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
20,PUBLIC ASSISTANCE,Severe Storm,Marathon,WI,2010,10,2011,2,4,3814.11,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
21,PUBLIC ASSISTANCE,Severe Storm,Wood,WI,2010,10,2011,2,4,3834.87,...,0.0,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
22,PUBLIC ASSISTANCE,Hurricane,Ocean,NJ,2012,10,2013,3,5,22277.32,...,0.0,0.0,0.00,0.0,3712.88,3712.89,3712.89,3712.89,3712.89,3712.88
23,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2012,10,2013,3,5,22330.99,...,0.0,0.0,0.00,0.0,3721.83,3721.83,3721.83,3721.84,3721.83,3721.83
24,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,22369.56,...,0.0,0.0,0.00,0.0,3728.26,3728.26,3728.26,3728.26,3728.26,3728.26
25,PUBLIC ASSISTANCE,Hurricane,Warren,NJ,2012,10,2013,3,5,22445.56,...,0.0,0.0,0.00,0.0,3740.92,3740.93,3740.93,3740.93,3740.93,3740.92
26,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,23079.68,...,0.0,0.0,0.00,0.0,3846.61,3846.61,3846.61,3846.63,3846.61,3846.61

In [ ]:
#display(dti)
#dffema[dti.tolist()].sum(axis=1)
dffemafed["Sanity"] = round(dffemafed[dti.tolist()].sum(axis=1),2)
dffemastate["Sanity"] = round(dffemastate[dti.tolist()].sum(axis=1),2)
dffematotal["Sanity"] = round(dffematotal[dti.tolist()].sum(axis=1),2)
#display(dffema)

display(dffemafed[dffemafed["Sanity"]!=dffemafed["FED SPEND"]][["Sanity","FED SPEND"]])
display(dffemastate[dffemastate["Sanity"]!=dffemastate["STATE SPEND"]][["Sanity","STATE SPEND"]])
display(dffematotal[dffematotal["Sanity"]!=dffematotal["TOTAL PROJECT SPEND"]][["Sanity","TOTAL PROJECT SPEND"]])
#display(dffema["Sanity"])
#display(dffema["FED SPEND"])

Empty DataFrame
Columns: [Sanity, FED SPEND]
Index: []

Empty DataFrame
Columns: [Sanity, STATE SPEND]
Index: []

Empty DataFrame
Columns: [Sanity, TOTAL PROJECT SPEND]
Index: []

In [ ]:
display(dffema)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,Sanity
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005,9,2005,9,1,1039431.28,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1039431.28
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012,8,2012,8,1,2664.51,...,0.0,1998.38,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1998.38
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012,8,2012,8,1,22914.27,...,0.0,17185.70,0.0,0.00,0.00,0.00,0.00,0.00,0.00,17185.70
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999,5,1999,5,1,0.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999,5,1999,5,1,70000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,70000.00
5,PUBLIC ASSISTANCE,Tornado,Logan,OK,1999,5,1999,5,1,187500.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,187500.00
6,PUBLIC ASSISTANCE,Tornado,Oklahoma,OK,1999,5,1999,5,1,250000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,250000.00
7,PUBLIC ASSISTANCE,Tornado,Statewide,OK,1999,5,1999,5,1,500000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,500000.00
8,PUBLIC ASSISTANCE,Tornado,McClain,OK,1999,5,1999,5,1,562500.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,562500.00
9,PUBLIC ASSISTANCE,Tornado,Grady,OK,1999,5,1999,5,1,1000000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1000000.00
10,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,39048.67,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,29286.50
11,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999,1,1999,4,3,40857.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,30642.76
12,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,41600.26,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,31200.20
13,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999,1,1999,4,3,46506.99,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,34880.24
14,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,47668.72,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,35751.54
15,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,53139.83,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,39854.88
16,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,55074.55,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,41305.92
17,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999,1,1999,4,3,56010.48,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,42007.86
18,PUBLIC ASSISTANCE,Severe Storm,Clark,WI,2010,10,2011,2,4,3720.17,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2790.13
19,PUBLIC ASSISTANCE,Severe Storm,Jackson,WI,2010,10,2011,2,4,3782.72,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2837.05
20,PUBLIC ASSISTANCE,Severe Storm,Marathon,WI,2010,10,2011,2,4,3814.11,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2860.58
21,PUBLIC ASSISTANCE,Severe Storm,Wood,WI,2010,10,2011,2,4,3834.87,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2876.15
22,PUBLIC ASSISTANCE,Hurricane,Ocean,NJ,2012,10,2013,3,5,22277.32,...,0.0,0.00,0.0,3341.60,3341.60,3341.60,3341.60,3341.60,3341.60,20049.60
23,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2012,10,2013,3,5,22330.99,...,0.0,0.00,0.0,3349.64,3349.65,3349.65,3349.65,3349.65,3349.64,20097.88
24,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,22369.56,...,0.0,0.00,0.0,3355.43,3355.43,3355.43,3355.45,3355.43,3355.43,20132.60
25,PUBLIC ASSISTANCE,Hurricane,Warren,NJ,2012,10,2013,3,5,22445.56,...,0.0,0.00,0.0,3366.83,3366.83,3366.83,3366.85,3366.83,3366.83,20201.00
26,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012,10,2013,3,5,23079.68,...,0.0,0.00,0.0,3461.95,3461.95,3461.95,3461.96,3461.95,3461.95,20771.71

In [ ]:
dffemafed.to_csv(os.path.join(base_dir,fema_fed_out_file))
dffemastate.to_csv(os.path.join(base_dir,fema_st_out_file))
dffematotal.to_csv(os.path.join(base_dir,fema_tot_out_file))

In [ ]:
row_sum = dffemafed.loc[:,dti.tolist()].sum()
dffemafed.loc['Total'] = row_sum
dffemafed.fillna('')
display(dffemafed)

,FUND SOURCE,TYPE,COUNTY,STATE,START YR,START MO,END YR,END MO,NUMBER OF MONTHS,TOTAL PROJECT SPEND,...,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,Sanity
0,PUBLIC ASSISTANCE,Coastal Storm,Statewide,CO,2005.0,9.0,2005.0,9.0,1.0,1039431.28,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1039431.28
1,PUBLIC ASSISTANCE,Fire,Rosebud,MT,2012.0,8.0,2012.0,8.0,1.0,2664.51,...,0.0,1998.38,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1998.38
2,PUBLIC ASSISTANCE,Fire,Statewide,MT,2012.0,8.0,2012.0,8.0,1.0,22914.27,...,0.0,17185.70,0.0,0.00,0.00,0.00,0.00,0.00,0.00,17185.70
3,PUBLIC ASSISTANCE,Tornado,Lincoln,OK,1999.0,5.0,1999.0,5.0,1.0,0.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,PUBLIC ASSISTANCE,Tornado,Creek,OK,1999.0,5.0,1999.0,5.0,1.0,70000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,70000.00
5,PUBLIC ASSISTANCE,Tornado,Logan,OK,1999.0,5.0,1999.0,5.0,1.0,187500.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,187500.00
6,PUBLIC ASSISTANCE,Tornado,Oklahoma,OK,1999.0,5.0,1999.0,5.0,1.0,250000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,250000.00
7,PUBLIC ASSISTANCE,Tornado,Statewide,OK,1999.0,5.0,1999.0,5.0,1.0,500000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,500000.00
8,PUBLIC ASSISTANCE,Tornado,McClain,OK,1999.0,5.0,1999.0,5.0,1.0,562500.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,562500.00
9,PUBLIC ASSISTANCE,Tornado,Grady,OK,1999.0,5.0,1999.0,5.0,1.0,1000000.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1000000.00
10,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999.0,1.0,1999.0,4.0,3.0,39048.67,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,29286.50
11,PUBLIC ASSISTANCE,Snowstorm,DuPage,IL,1999.0,1.0,1999.0,4.0,3.0,40857.00,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,30642.75
12,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999.0,1.0,1999.0,4.0,3.0,41600.26,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,31200.20
13,PUBLIC ASSISTANCE,Snowstorm,Lake,IL,1999.0,1.0,1999.0,4.0,3.0,46506.99,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,34880.24
14,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999.0,1.0,1999.0,4.0,3.0,47668.72,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,35751.54
15,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999.0,1.0,1999.0,4.0,3.0,53139.83,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,39854.87
16,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999.0,1.0,1999.0,4.0,3.0,55074.55,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,41305.91
17,PUBLIC ASSISTANCE,Snowstorm,Cook,IL,1999.0,1.0,1999.0,4.0,3.0,56010.48,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,42007.86
18,PUBLIC ASSISTANCE,Severe Storm,Clark,WI,2010.0,10.0,2011.0,2.0,4.0,3720.17,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2790.13
19,PUBLIC ASSISTANCE,Severe Storm,Jackson,WI,2010.0,10.0,2011.0,2.0,4.0,3782.72,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2837.04
20,PUBLIC ASSISTANCE,Severe Storm,Marathon,WI,2010.0,10.0,2011.0,2.0,4.0,3814.11,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2860.58
21,PUBLIC ASSISTANCE,Severe Storm,Wood,WI,2010.0,10.0,2011.0,2.0,4.0,3834.87,...,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,2876.15
22,PUBLIC ASSISTANCE,Hurricane,Ocean,NJ,2012.0,10.0,2013.0,3.0,5.0,22277.32,...,0.0,0.00,0.0,3341.59,3341.60,3341.60,3341.60,3341.60,3341.60,20049.59
23,PUBLIC ASSISTANCE,Hurricane,Hunterdon,NJ,2012.0,10.0,2013.0,3.0,5.0,22330.99,...,0.0,0.00,0.0,3349.64,3349.65,3349.65,3349.65,3349.65,3349.65,20097.89
24,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012.0,10.0,2013.0,3.0,5.0,22369.56,...,0.0,0.00,0.0,3355.43,3355.43,3355.43,3355.45,3355.43,3355.43,20132.60
25,PUBLIC ASSISTANCE,Hurricane,Warren,NJ,2012.0,10.0,2013.0,3.0,5.0,22445.56,...,0.0,0.00,0.0,3366.83,3366.83,3366.83,3366.85,3366.83,3366.83,20201.00
26,PUBLIC ASSISTANCE,Hurricane,Monmouth,NJ,2012.0,10.0,2013.0,3.0,5.0,23079.68,...,0.0,0.00,0.0,3461.95,3461.95,3461.95,3461.96,3461.95,3461.95,20771.71
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,19184.08,0.0,16875.44,16875.46,16875.46,16875.51,16875.46,16875.46,NaN

In [ ]:
dffema[["2012-05","2012-06","2012-07"]] = [64,36,28]
#dffema[dti.tolist()] = 83
display(dffema)

In [ ]:
# step 1
s=pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str))
e=pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str)) + MonthEnd(0)
#display(s)
#display(e)
pd.date_range(start=s,end=e,freq='D')
#display(pd.to_datetime(dffema["START MO"].astype(str) + " " + dffema["START YR"].astype(str)))
#display(pd.to_datetime(dffema["END MO"].astype(str) + " " + dffema["END YR"].astype(str)) + MonthEnd(0))
#dffema["end_date"] = pd.to_datetime(f'{dffema["END MO"]} {dffema["END YR"]}',"%-m %Y")# + MonthEnd(0)
#dffema["no_days"] = len(pd.date_range(start=f'{dffema["START MO"]} {dffema["START YR"]}', end=dt2, freq='D'))
#display(dffema)

In [ ]:
# df = {"FUND SOURCE":{"PUBLIC ASSISTANCE","PUBLIC ASSISTANCE","PUBLIC ASSISTANCE",
#                        "PUBLIC ASSISTANCE","PUBLIC ASSISTANCE","PUBLIC ASSISTANCE",
#                        "PUBLIC ASSISTANCE","PUBLIC ASSISTANCE","PUBLIC ASSISTANCE",
#                        "PUBLIC ASSISTANCE"},
#       "TYPE":{"Coastal Storm","Fire","Fire","Tornado","Tornado","Tornado","Tornado",
#               "Tornado","Tornado","Tornado"},
#       "COUNTY":{"Statewide","Rosebud","Statewide","Lincoln","Creek","Logan",
#                 "Oklahoma","Statewide","McClain","Grady"},
#       "STATE":{"CO","MT","MT","OK","OK","OK","OK","OK","OK","OK"},
#       "START YR":{"2005","2012","2012","1999","1999","1999","1999","1999","1999","1999"},
#       "START MO":{"9","8","8","5","5","5","5","5","5","5"},
#       "END YR":{"2005","2012","2012","1999","1999","1999","1999","1999","1999","1999"},
#       "END MO":{"9","8","8","5","5","5","5","5","5","5"}

In [ ]:
#help(np.random.normal)

In [ ]:
mu,sigma = symbols('mu sigma')
help(mu)

In [ ]:
x = symbols('x')
c = 0 # included since it could also be chosen defferently

#pdf_exp = 4* x* sympy.exp(-2*x)
mu,sigma = symbols('mu sigma')
pdf_exp = 10*sympy.exp(-1*x**2)
pdf = lambdify(x,pdf_exp,'numpy')

umax = float(maximum(sqrt(pdf_exp), x))
vmin = float(minimum((x - c) * sqrt(pdf_exp), x))
vmax = float(maximum((x - c) * sqrt(pdf_exp), x))

data = rvs_ratio_uniforms(pdf, umax, vmin, vmax, size=10**6, c=c)

#t = np.linspace(0,10,10**5)
t = np.linspace(0,10,10**5)
_ = plt.hist(data, bins='auto', density=True)
plt.plot(t, pdf(t))
plt.show()

In [ ]:
#dir(sympy)
dir(np)

In [ ]:
#help(np.random.normal)
help(np.linspace)